body {
  background-color: rgba(135, 168, 223, 0.5294117647);
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.home {
  width: 90%;
  height: 100vh;
}

.container {
  max-width: 90%;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #28a745;
  font-size: 1rem;
  width: 60%;
  margin: 20px auto;
}

p {
  font-size: 1.1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#file-upload {
  margin: 20px 0;
}

.button-53 {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  margin: 0 auto;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
input[type=file] {
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 5px;
}

input[type=submit] {
  background-color: #28a745;
  color: white;
  border: 1px solid #28a745;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type=submit]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input[type=submit]:hover:not(:disabled) {
  background-color: #218838;
}

input[type=submit].active-button {
  background-color: #28a745;
  cursor: pointer;
}

/* Navigation bar styles */
nav {
  background-color: #28a745;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Container for extracted text */
#extracted-text-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
  white-space: pre-wrap;
}

.success-message {
  color: #28a745;
  font-size: 1.3rem;
  margin-top: 20px;
}

/* Spinner Style */
.spinner {
  display: none;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #28a745;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite, colorChange 3s ease-in-out infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes colorChange {
  0% {
    border-top-color: #28a745;
  }
  25% {
    border-top-color: #17a2b8;
  }
  50% {
    border-top-color: #ffc107;
  }
  75% {
    border-top-color: #dc3545;
  }
  100% {
    border-top-color: #28a745;
  }
}
.show-spinner {
  display: block;
}

.loader-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 20px;
  height: 25px;
  display: none;
}

.loader-bar {
  height: 100%;
  width: 0%;
  background-color: #28a745;
  border-radius: 5px;
  transition: width 0.1s;
  text-align: center;
  line-height: 25px;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
