

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertly</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <section class="home">
    <div class="container">
        <nav>
          {% extends "base.html" %}

          {% block title %}Convertly - Upload{% endblock %}
          
          {% block content %}
        </nav>
        <h1>Welcome to Convertly</h1>
        <p>File Conversion Service</p>

        <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
            <label for="file-upload">Choose File</label>
            <input id="file-upload" type="file" name="file">
            <p id="file-name" style="margin-top: 10px;"></p>
            <input id="submit-button" type="submit" value="Upload" disabled class="disabled-button">
        </form>
        <div class="loader-container">
          <div class="loader-bar" id="loader-bar">0%</div>
        </div>
        <div class="spinner" id="loading-spinner"></div>
    </div>
  </section>

  <script>
    const uploadForm = document.getElementById('upload-form');
    const fileUpload = document.getElementById('file-upload');
    const submitButton = document.getElementById('submit-button');
    const spinner = document.getElementById('loading-spinner');

    submitButton.disabled = true;

    fileUpload.addEventListener('change', function(event) {
        const fileName = event.target.files[0]?.name;
        document.getElementById('file-name').innerText = fileName ? `Selected file: ${fileName}` : '';
        submitButton.disabled = !fileName;
        submitButton.classList.toggle('active-button', !!fileName);
        submitButton.classList.toggle('disabled-button', !fileName);
    });

    uploadForm.addEventListener('submit', function(event) {
    event.preventDefault(); // Prevent default form submission
        submitButton.style.display = 'none'; // Hide the submit button
        document.querySelector('.loader-container').style.display = 'block'; // Show loader

        let progress = 0;
        let totalTime = 9000; // 3 seconds
        let interval = 30; // Update every 30 ms
        let loaderBar = document.getElementById('loader-bar');

        let loading = setInterval(function() {
            progress += (interval / totalTime) * 100;
            loaderBar.style.width = progress + '%';
            loaderBar.innerText = Math.floor(progress) + '%';

            if (progress >= 100) {
                clearInterval(loading); // Stop when complete
                uploadForm.submit(); // Submit form
            }
        }, interval);
    });
</script>
</body>
</html>

{% endblock %}