

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertly - Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <section class="converter">
    <div class="container">
        <nav>
          {% extends "base.html" %}

          {% block title %}Convertly - Upload{% endblock %}
          
          {% block content %}
        </nav>

        <h1>File "{{ filename }}" uploaded and converted successfully!</h1>

        <a class="button-53" href="/download/{{ text_filename }}">Download extracted text</a>

        <h3>Extracted Text:</h3>
        <div id="extracted-text-container">
          <pre id="extracted-text">{{ extracted_text | safe }}</pre>
        </div>
    </div>
  </section>
</body>
</html>

{% endblock %}