body {
  background-color: #87a8df87;
  font-family: 'Roboto', sans-serif;
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.home {
  justify-content: center;
  width: 90%;
}

.container {
  max-width: 90%;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #28a745;
  font-size: 1.3rem;
  width: 100%; /* Ensure heading takes full width */
  margin: 20px auto;
}

p {
  font-size: 1.1rem;
}

input[type="file"] {
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 5px;
}

input[type="submit"] {
  background-color: #28a745;
  color: white;
  border: 1px solid #28a745;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

input[type="submit"]:hover:not(:disabled) {
  background-color: #218838;
}

input[type="submit"].active-button {
  background-color: #28a745;
  cursor: pointer;
}

/* Navigation bar styles */
nav {
  background-color: #28a745;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Container for extracted text */
#extracted-text-container {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
  max-height: 300px;
  overflow-y: scroll;
  white-space: pre-wrap;
}

.success-message {
  color: #28a745;
  font-size: 1.3rem;
  margin-top: 20px;
}

/* Spinner Style */
.spinner {
    display: none;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #28a745;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite, colorChange 3s ease-in-out infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes colorChange {
    0% { border-top-color: #28a745; }
    25% { border-top-color: #17a2b8; }
    50% { border-top-color: #ffc107; }
    75% { border-top-color: #dc3545; }
    100% { border-top-color: #28a745; }
}

.show-spinner {
    display: block;
}

/* Loader styles */
.loader-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  margin-top: 20px;
  height: 25px;
  display: none; /* Initially hidden */
}

.loader-bar {
  height: 100%;
  width: 0%;
  background-color: #28a745; /* Green background */
  border-radius: 5px;
  transition: width 0.3s ease; /* Smooth progress animation */
  text-align: center;
  line-height: 25px; /* Vertical centering of percentage */
  color: white; /* Percentage text color */
  font-weight: bold;
  font-size: 1rem;
}


// Download button
.button-55 {
  align-self: center;
  background-color: #b3dcb4;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}